{% extends 'ClarolineCoreBundle::mockup/Training_sessions/training-tool5.html.twig' %}

{% block panelTitle %}Modification de la formation [Alerter les interlocuteurs concernés par les dysfonctionnements et les risques constatés]{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: center;
            font-size: 20px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #5cb85c;
        }
        #top_bar li:not(:last-child) > a, .top-bar li:not(:last-child) > a {
            color: white;
            border-right: 1px solid #5cb85c !important;
        }
        .panel-default > .panel-heading {
            color: #fff;
            background-color: #5cb85c;
            border-color: #ddd;
        }
    </style>

    <div class="container-fluid">
        <form novalidate="" enctype="multipart/form-data" method="POST" action="#">
            {#<div class="panel-body">#}
            <div id="course_form" style="padding-top: 15px">
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_title"> Titre </label>
                        <div class="col-md-9">
                            <input id="course_form_title" class="form-control" type="text" value="Alerter les interlocuteurs concernés par les dysfonctionnements et les risques constatés" required="required" name="course_form[title]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_code"> Code </label>
                        <div class="col-md-9">
                            <input id="course_form_code" class="form-control" type="text" value="M4N2D" required="required" name="course_form[code]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_description"> Description </label>
                        <div class="col-md-9">
                                <input id="course_form_description" class="form-control" type="text" value="Description" name="course_form[description]">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_icon"> Icône </label>
                        <div class="col-md-9">
                            <input id="course_form_icon" class="form-control" type="file" name="course_form[icon]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_publicRegistration"> Inscription publique </label>
                        <div class="col-md-9">
                            <input id="course_form_publicRegistration" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[publicRegistration]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_publicUnregistration"> Désinscription publique </label>
                        <div class="col-md-9">
                            <input id="course_form_publicUnregistration" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[publicUnregistration]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_workspace"> Espace d'activités </label>
                        <div class="col-md-9">
                            <select id="course_form_workspace" class="form-control" name="course_form[workspace]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_workspaceModel"> Modèle d'espace d'activités </label>
                        <div class="col-md-9">
                            <select id="course_form_workspaceModel" class="form-control" name="course_form[workspaceModel]">
                                <option value=""></option>
                                <option value="12">Modèle IFC</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_tutorRoleName"> Rôle des tuteurs </label>
                        <div class="col-md-9">
                            <input id="course_form_tutorRoleName" class="role-name-txt form-control" type="text" value="Formateur" name="course_form[tutorRoleName]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_learnerRoleName"> Rôle des apprenants </label>
                        <div class="col-md-9">
                            <input id="course_form_learnerRoleName" class="role-name-txt form-control" type="text" value="Stagiaire" name="course_form[learnerRoleName]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_maxUsers"> Nombre maximum d'utilisateurs </label>
                        <div class="col-md-9">
                            <input id="course_form_maxUsers" class="form-control" type="number" min="0" name="course_form[maxUsers]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_userValidation"> Validation de l'utilisateur </label>
                        <div class="col-md-9">
                            <input id="course_form_userValidation" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[userValidation]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_organizationValidation"> Validation par l'organisation </label>
                        <div class="col-md-9">
                            <input id="course_form_organizationValidation" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[organizationValidation]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="course_form_registrationValidation"> Validation de l'inscription </label>
                        <div class="col-md-9">
                            <input id="course_form_registrationValidation" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[registrationValidation]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="course_form_validators"> Validateurs </label>
                        <div class="col-md-9">
                            <input id="user-picker-input-validators-picker-1465896056" type="text" style="display: none;" name="course_form[validators]">
                        <div class="input-group">
                            <input id="user-picker-input-view-validators-picker-1465896056" class="form-control user-picker user-picker-input user-picker-validators-picker-1465896056" type="text" placeholder="Ajouter un utilisateur">
                            <span class="input-group-btn">
                            <span class="btn btn-primary user-picker user-picker-validators-picker-1465896056" type="button">
                            <i class="fa fa-user"></i>
                            </span>
                            </span>
                        </div>
                    </div>
                </div>
            {#</div>#}
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit"> Ok </button>
                    <a class="btn btn-default" role="button" href="#"> Annuler </a>
                </div>
        </form>
    </div>

                {#<div id="role-name-choice" class="hidden">#}
                {#</div>#}



        <div id="view-registration-box" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <h3 id="view-registration-header" class="modal-header">
                    </h3>
                    <div id="view-registration-body" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <input type="button"
                               class="btn btn-default"
                               data-dismiss="modal"
                               value="Fermer"></div>
                </div>
            </div>
        </div>

            {#<div id="myModal" class="modal fade" role="dialog">#}



        <div id="delete-course-box" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3>
                            Suppression du cours
                        </h3>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer ce cours ?
                        <br>
                    </div>
                    <div class="modal-footer">
                    <span class="pull-right">
                        <span class="btn btn-default pointer-hand"
                              data-dismiss="modal"
                        >
                            Annuler
                        </span>
                        <span id="confirm-session-deletion-btn"
                              class="btn btn-primary pointer-hand"
                        >
                            Ok
                        </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        {#<div id="registration-error-box" class="modal fade" role="dialog" aria-hidden="true">#}
            {#<div class="modal-dialog">#}
                {#<div class="modal-content">#}
                    {#<div class="modal-header">#}
                        {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
                            {#&times;#}
                        {#</button>#}
                        {#<h3>#}
                            {#L&#039;inscription a échoué#}
                        {#</h3>#}
                    {#</div>#}
                    {#<div class="modal-body" id="registration-error-box-body">#}
                    {#</div>#}
                    {#<div class="modal-footer">#}
                        {#<button class="btn btn-default pull-right" data-dismiss="modal">#}
                            {#Fermer#}
                        {#</button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

    {#<div id="push"></div>#}
        <div id="footer">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <span class="pull-right locale-select label label-default">FR</span>
                        <span>Développé par <a href="http://www.claroline.net" target="_blank">Claroline</a> Release 16.05</span>
                    </p>
                </div>
            </div>
        </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" property="">
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
    >
    </script>
    <script type="text/javascript"
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    >
    </script>
{% endblock %}