{% extends 'HeVinciMockupBundle::library/claroline/tool.html.twig' %}

{% set toolName = "Gestion des formations" %}
{% set toolSection = "Administration" %}
{% set toolPage = ['Sessions', 'Gestion des sessions'] %}
{% set toolIcon = "arrow-up" %}

{% block panelRest %}
    <div class="panel-footer">
        {% block panelFooter %}
        {% endblock %}
    </div>
{% endblock %}