{% extends "InnovaMediaResourceBundle::layout.html.twig" %}

{% block media_resource_content %}
    <div class="media-resource-players-container">
        <div class="panel panel-default">
            <!-- PANEL HEADER -->
            <div class="panel-heading">
                {% include "InnovaMediaResourceBundle:MediaResource/Partials:players-panel-header.html.twig" with {'name':_resource.name, 'mode': mode} %}
            </div>
            <div class="panel-body">
                {% if mode == "active" %}
                    {% include "InnovaMediaResourceBundle:MediaResource/Partials:player.active.html.twig" with {'_resource': _resource, 'workspace': workspace, 'regions': regions} %}
                {% elseif mode == "live" %}
                    {% include "InnovaMediaResourceBundle:MediaResource/Partials:player.live.html.twig" with {'_resource': _resource, 'workspace': workspace, 'regions': regions} %}
                {% elseif mode == "free" %}
                    {% include "InnovaMediaResourceBundle:MediaResource/Partials:player.free.html.twig" with {'_resource': _resource, 'workspace': workspace, 'regions': regions} %}
                {% else %}
                    {% include "InnovaMediaResourceBundle:MediaResource/Partials:player.pause.html.twig" with {'_resource': _resource, 'workspace': workspace, 'regions': regions} %}
                {% endif %}
                <!-- HTML5 AUdio player used for specific playback (help and configuration) -->
                <audio id="html-audio-player" controls style="display:none;" src=""/>
            </div>
        </div>
    </div>
    <!-- hidden fields -->
    <input type="hidden" name="type" value="audio">
    <input type="hidden" name="wId" value="{{workspace.id}}">
    <input type="hidden" name="mrId" value="{{_resource.id}}">
    <input type="hidden" name="tts" value="{{_resource.options.getTtsLanguage}}">

{% endblock %}
