<div class="btn-group">
    <input type="submit" name="pause" class="btn btn-default {% if view == 'pause' %} active {% endif %}" value="{{'btn_auto_pause' | trans({}, 'media_resource')}}">
    <input type="submit" name="live" class="btn btn-default {% if view == 'live' %} active {% endif %}" value="{{'btn_live_listening' | trans({}, 'media_resource')}}">
    <input type="submit" name="exercise" class="btn btn-default {% if view == 'exercise' %} active {% endif %}" value="{{'btn_exercise_view' | trans({}, 'media_resource')}}">
    <input type="submit" name="active" class="btn btn-default {% if view == 'active' %} active {% endif %}" value="{{'btn_active_listening' | trans({}, 'media_resource')}}">
</div>
