{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Edition de la vue "View Name"{% endblock %}

{% block panelRest %}


<div class="panel-body">
    <div id="conteneur" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>Nom : <input type="text" placeholder=" 2016-03-05-1"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: lightgrey; margin-bottom: 10px">
                <h3>1. Définir le(s) filtre(s)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="text-align: center; background-color: lightgrey; padding-top: 15px">
                <p><strong>Filtre(s)</strong></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="text-align: center; background-color: lightgrey; padding-top: 15px">
                <p><strong>Affiner</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 25px">
                <div class="form">
                    <select class="form-control" id="sel1">
                            <option selected>Utilisateurs</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 25px">
                <div class="form">

                    <label hidden for="sel2">Filtres :</label>

                    <select class="form-control" id="sel2">
                        <option selected>Les utilisateurs de mes EA</option>
                        <option>Tous les utilisateurs</option>
                        <option>Un groupe d'utilisateurs</option>
                        <option>Les utilisateurs d'un EA</option>
                        <option>Les utilisateurs d'une ressource</option>
                        <option>Quelques utilisateurs</option>
                        <option>etc...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 20px 0 20px 0">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form">
                        <select class="form-control" id="sel3">
                            <option selected>Exercices</option>
                            <option disabled>Utilisateurs</option>
                            <option>Espaces d'activités</option>
                            <option>Ressources</option>
                            <option>Période</option>
                            <option>Forums</option>
                            <option>Parcours</option>
                            <option>Activités</option>
                            <option>Collecticiels</option>
                            <option>Pages wikis</option>
                            <option>Blogs</option>
                            <option>Annonces</option>
                            <option>Sondages</option>
                            <option>Wikis</option>
                            <option>Chats</option>
                            <option>etc...</option>
                        </select>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form">
                    <select class="form-control" id="sel4">
                        <option selected>Tous les exercices</option>
                        <option>Les exercices de mes EA</option>
                        <option>Les exercices d'un EA</option>
                        <option>Un exercice spécifique</option>
                        <option>etc...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Cliquez pour ajouter un filtre"><i class="fa fa-plus"> Filtre</i></button>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer" style="text-align: right">
    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cliquez pour annuler la création de vue">Annuler</i></button>
    <a href="dashboard-view-6.html"><button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Cliquez pour passer à l'étape suivante">Suivant</i></button></a>
</div>
<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">
                <p>Par défaut, tous les exercices sont sélectionnés.</br>
                Dans notre scénario, on imagine que l'utilisateur garde ce choix.</p>
                <p>Cliquer sur "Suivant" ouvre la page de définition des données.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>
<script type="text/javascript">
    function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tabcontent.length; i++) {
    tablinks[i].classList.remove("active");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.classList.add("active");
    }
</script>

{% endblock %}