{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Données et règles{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div id="conteneur" class="container">
        <h2>Utilisateurs</h2>
        <table class="table table-condensed table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Affichage</th>
                    <th>Données</th>
                    <th>Règles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Nombre de connexions</td>
                    <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                            <i class="fa fa-plus"></i> Règle </button></td>
                </tr>
                <tr>
                    <td><input type="checkbox" checked></td>
                    <td>Durée de connexion</td>
                    <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                            <i class="fa fa-plus"></i> Règle </button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="conteneur" class="container">
        <h2>Exercices</h2>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Affichage</th>
                    <th>Données</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Tentatives</td>
                    <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                            <i class="fa fa-plus"></i> Règle </button></td>
                </tr>
                <tr>
                    <td><input type="checkbox" checked></td>
                    <td>Score</td>
                    <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                            <i class="fa fa-plus"></i> Règle </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-12" style="border: 1px solid #ccc; background-color: #f1f1f1">
    <div class="row">
        <div class="col-xs-12">
            <h4>Règle</h4>
        </div>
        <div class="col-xs-12">
        <p>La règle porte sur:</p>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="sel3">
                <option>Nombre de tentatives</option>
                <option>Nombre de tentatives achevées</option>
                <option>Nombre de tentatives inachevées</option>
                <option>etc...</option>
            </select>
        </div>
    </div>
    <div class="col-md-2" style="padding-top: 25px">
        <p>Le résultat est </p>
    </div>
    <div class="col-md-3" style="padding-top: 25px">
        <select class="form-control" id="sel3">
            <option>> ou =</option>
            <option>=</option>
            <option></option>
            <option>etc...</option>
        </select>
    </div>
    <div class="col-md-1" style="padding-top: 25px">
        <p> à </p>
    </div>
    <div class="col-md-3" style="padding-top: 25px">
        <input type="text" placeholder="Taper un chiffre">
    </div>
</div>
<div class="panel-footer" style="text-align: right">
    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cliquez pour annuler les actions sur les données.">Annuler</i></button>
    <a href="dashboard-view-8.html"><button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Cliquez pour valider les actions sur les données.">OK</i></button></a>
</div>
<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">
                <p>Description des possibilités.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>
<script type="text/javascript">
    function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tabcontent.length; i++) {
    tablinks[i].classList.remove("active");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.classList.add("active");
    }
</script>

{% endblock %}