<div class="panel-heading">
    <h3 class="panel-title">
        <div class="pull-right">
            <i class="fa fa-bell pointer" ng-click="rhc.onNotify()"></i>
            <i class="fa fa-tags pointer" ng-click="rhc.onTag()"></i>
            <i class="fa fa-star-o pointer" ng-click="rhc.onFavourite()"></i>
            <i class="fa fa-search pointer" ng-click="rhc.onSearch()"></i>
            <i class="fa fa-edit pointer" ng-click="rhc.onAnnotate()"></i>
            <i class="fa fa-heart-o pointer" ng-click="rhc.onLike()"></i>
            <i class="fa fa-commenting-o pointer" ng-click="rhc.onComment()"></i>
        </div>
    </h3>
</div>
