{% extends 'HeVinciMockupBundle::library/claroline/tool.html.twig' %}

{% set toolName = "Sessions" %}
{% set toolSection = "Administration" %}
{% set toolPage = ['Gestion des sessions', ''] %}
{% set toolIcon = "arrow-up" %}

{% block panelRest %}
    <div class="panel-footer">
        {% block panelFooter %}
        {% endblock %}
    </div>
{% endblock %}