{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Les utilisateurs de mes EA - Tous les exercices{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html">

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: left;
            font-size: 20px;
            padding: 15px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>

    <div class="panel-body">
        <div class="container-fluid">
            <div class="row features">
                <div class="col-xs-7 col-sm-7 col-md-8 col-lg-11">
                    <p><a href="dashboard-view-11.html"><button class="btn btn-primary" title="Cliquez pour retourner à l'accueil des vues"><i class="fa fa-chevron-left"> </i> Mes vues</button></a>
                        <a href="#"><button class="btn btn-primary" title="Cliquez pour enregistrer la vue"><i class="fa fa-floppy-o"> </i> Enregistrer</button></a></p>
                    <p><strong>SELECTION :</strong> Géographie | Exercices | Pays et capitales</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row features">
                <div class="col-xs-12" style="padding: 12px">
                    <p><img src="{{ asset('uploads/custom/images/arrow.png') }}" height="24px" width="24px"></img><a href="#"> Exporter</a> | <a href="#">Imprimer en PDF</a> | <a href="#">Ajouter une tâche</a></p>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive table-striped table-hover">
                            <tr>
                                <td colspan="2" style="background-color: lightgrey; font-weight: bold; text-align: center"></td>
                                <td colspan="2" style="background-color: lightgrey; font-weight: bold; text-align: center">Exercices</td>
                                <td colspan="2" style="background-color: lightgrey; font-weight: bold; text-align: center">Forums</td>
                                <td style="background-color: lightgrey; font-weight: bold"></td>
                            </tr>
                            <tr>
                                <td style="background-color: lightgrey; font-weight: bold"><input type="checkbox"></td>
                                <td style="background-color: lightgrey; font-weight: bold">Utilisateurs</td>
                                <td style="background-color: lightgrey; font-weight: bold">Score <a href="dashboard-view-9c.html"><button type="button" class="btn btn-default; pull-right">
                                    <i class="fa fa-bar-chart"></i></button></a></td>
                                <td style="background-color: lightgrey; font-weight: bold">Durée de connexion <a href="dashboard-view-9e.html"><button type="button" class="btn btn-default; pull-right"><i class="fa fa-bar-chart fa"></i></button></a></td>
                                <td style="background-color: lightgrey; font-weight: bold">Nombre de consultations <a href="dashboard-view-9g.html"><button type="button" class="btn btn-default; pull-right">
                                            <i class="fa fa-bar-chart"></i></button></a></td>
                                <td style="background-color: lightgrey; font-weight: bold">Nombre de messages <a href="dashboard-view-9i.html"><button type="button" class="btn btn-default; pull-right">
                                            <i class="fa fa-line-chart"></i></button></a></td>
                                <td style="background-color: lightgrey; font-weight: bold">Actions</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Jean-Jacques</td>
                                <td>15/25</td>
                                <td>1h 08'</td>
                                <td>30</td>
                                <td>10</td>
                                <td><button type="button" class="btn btn-default" title="Voir détails"><i class="fa fa-info"></i></button>
                                    <button type="button" class="btn btn-default" title="Ajouter une tâche"><i class="fa fa-tasks"></i></button>
                                    <button type="button" class="btn btn-default" title="Envoyer un courriel"><i class="fa fa-envelope-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Chatter"><i class="fa fa-comment"></i></button>
                                    <button type="button" class="btn btn-default" title="Accéder au portfolio"><i class="fa fa-file-text-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Voir mur"><i class="fa fa-share-square-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>David</td>
                                <td>18/25</td>
                                <td>1h 25'</td>
                                <td>36</td>
                                <td>12</td>
                                <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" title="Voir détails"><i class="fa fa-info"></i></button>
                                    <button type="button" class="btn btn-default" title="Ajouter une tâche"><i class="fa fa-tasks"></i></button>
                                    <button type="button" class="btn btn-default" title="Envoyer un courriel"><i class="fa fa-envelope-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Chatter"><i class="fa fa-comment"></i></button>
                                    <button type="button" class="btn btn-default" title="Accéder au portfolio"><i class="fa fa-file-text-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Voir mur"><i class="fa fa-share-square-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Philippe</td>
                                <td>17/25</td>
                                <td>2h 32'</td>
                                <td>34</td>
                                <td>11</td>
                                <td><button type="button" class="btn btn-default" title="Voir détails"><i class="fa fa-info"></i></button>
                                    <button type="button" class="btn btn-default" title="Ajouter une tâche"><i class="fa fa-tasks"></i></button>
                                    <button type="button" class="btn btn-default" title="Envoyer un courriel"><i class="fa fa-envelope-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Chatter"><i class="fa fa-comment"></i></button>
                                    <button type="button" class="btn btn-default" title="Accéder au portfolio"><i class="fa fa-file-text-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Voir mur"><i class="fa fa-share-square-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Nathalie</td>
                                <td>21/25</td>
                                <td>1h 14'</td>
                                <td>42</td>
                                <td>7</td>
                                <td><button type="button" class="btn btn-default" title="Voir détails"><i class="fa fa-info"></i></button>
                                    <button type="button" class="btn btn-default" title="Ajouter une tâche"><i class="fa fa-tasks"></i></button>
                                    <button type="button" class="btn btn-default" title="Envoyer un courriel"><i class="fa fa-envelope-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Chatter"><i class="fa fa-comment"></i></button>
                                    <button type="button" class="btn btn-default" title="Accéder au portfolio"><i class="fa fa-file-text-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Voir mur"><i class="fa fa-share-square-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Chahira</td>
                                <td>19/25</td>
                                <td>2h 51'</td>
                                <td>38</td>
                                <td>6</td>
                                <td><button type="button" class="btn btn-default" title="Voir détails"><i class="fa fa-info"></i></button>
                                    <button type="button" class="btn btn-default" title="Ajouter une tâche"><i class="fa fa-tasks"></i></button>
                                    <button type="button" class="btn btn-default" title="Envoyer un courriel"><i class="fa fa-envelope-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Chatter"><i class="fa fa-comment"></i></button>
                                    <button type="button" class="btn btn-default" title="Accéder au portfolio"><i class="fa fa-file-text-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Voir mur"><i class="fa fa-share-square-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Christophe</td>
                                <td>23/25</td>
                                <td>1h 38'</td>
                                <td>46</td>
                                <td>8</td>
                                <td><button type="button" class="btn btn-default" title="Voir détails"><i class="fa fa-info"></i></button>
                                    <button type="button" class="btn btn-default" title="Ajouter une tâche"><i class="fa fa-tasks"></i></button>
                                    <button type="button" class="btn btn-default" title="Envoyer un courriel"><i class="fa fa-envelope-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Chatter"><i class="fa fa-comment"></i></button>
                                    <button type="button" class="btn btn-default" title="Accéder au portfolio"><i class="fa fa-file-text-o"></i></button>
                                    <button type="button" class="btn btn-default" title="Voir mur"><i class="fa fa-share-square-o"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <a href="dashboard-view-9i.html"><button type="button" class="btn btn-default" title="Cliquez pour obtenir une vue en bâtonnets"><i class="fa fa-bar-chart fa-2x"></i></button></a>
                    <a href="dashboard-view-9j.html"><button type="button" class="btn btn-default" title="Cliquez pour obtenir une vue linéaire"><i class="fa fa-line-chart fa-2x"></i></button></a>
                    {#<button type="button" class="btn btn-default" id="chart3" title="Cliquez pour obtenir une vue en aire"><i class="fa fa-area-chart fa-2x"></i></button>#}
                    {#<button type="button" class="btn btn-default" id="chart4" title="Cliquez pour obtenir une vue en camembert"><i class="fa fa-pie-chart fa-2x"></i></button>#}
                    {#<button type="button" class="btn btn-default" id="chart5" title="Cliquez pour obtenir une vue en doughnut"><img src="{{ asset('uploads/custom/images/graphic.png') }}" height="28px" width="28px"></img></button>#}
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <p style="font-weight: bold">Nombre de messages publiés sur le forum</p>
            <canvas id="scores" width="800" height="300"></canvas>
        </div>
    </div>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <div class="row">
                <p>
                    <span class="pull-right locale-select label label-default">FR</span>
                    <span>Développé par <a href="#">Claroline</a></span>
                </p>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vue en détails pour David</h4>
                </div>
                <div class="modal-body" style="text-align: left">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 10px">
                            <div class="panel panel-default">
                                <div class="panel panel-body">
                                    <table class="table table-bordered table-condensed table-responsive table-striped table-hover">
                                        <tr>
                                            <td style="background-color: lightgrey; font-weight: bold">Exercices</td>
                                            <td style="background-color: lightgrey; font-weight: bold"></td>
                                            <td style="background-color: lightgrey; font-weight: bold">Score </td>
                                            <td style="background-color: lightgrey; font-weight: bold">Durée de connexion</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Exercice 1</td>
                                            <td style="text-align: center"><i class="fa fa-caret-down"></i></td>
                                            <td>17/20</td>
                                            <td>12'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Exercice 2</td>
                                            <td></td>
                                            <td>21/25</td>
                                            <td>18'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Etape 1 --</td>
                                            <td style="text-align: center"><i class="fa fa-caret-down"></i></td>
                                            <td>21/25</td>
                                            <td>18'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Etape 2 --</td>
                                            <td></td>
                                            <td>21/25</td>
                                            <td>18'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Question 1 ----</td>
                                            <td></td>
                                            <td>21/25</td>
                                            <td>18'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Question 2 ----</td>
                                            <td></td>
                                            <td>21/25</td>
                                            <td>18'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Exercice 3</td>
                                            <td></td>
                                            <td>11/15</td>
                                            <td>28'</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Exercice 4</td>
                                            <td></td>
                                            <td>14/18</td>
                                            <td>27'</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-default" data-dismiss="modal" title="Cliquer ici pour annuler">Annuler</button>#}
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="Cliquez ici pour valider">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ChartJS -->
    <script type="text/javascript" src="{{ asset('uploads/custom/js/Chart.min.js') }}"></script>

    <script>
        var scoresData = {
            labels : ["Jean-Jacques","David","Philippe","Nathalie","Chahira","Christophe","Laurent","Virginie","Thomas","Amélie","Charlotte","Stéphanie"],
            datasets : [
                {
                    label: "Scores",
                    fillColor : "#5cb85c",
                    strokeColor : "#5cb85c",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : [10,12,11,14,13,15,12,11,13,14,7,15]
                }
            ]
        }
        var scores = document.getElementById('scores').getContext('2d');
        new Chart(scores).Line(scoresData);
    </script>

{% endblock %}