{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Les utilisateurs de mes EA - Tous les exercices{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html">

        /* For the modal */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: left;
            font-size: 20px;
            padding: 15px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>

    <div class="container-fluid">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <p>Nom : <input type="text" placeholder=" 2016-03-05-1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 10px">
                    <h4>4. Sur quelle période ?</h4>
                </div>
            </div>
            <div class="row" style="padding: 20px 0 20px 0">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="form">
                        <select class="form-control" id="sel3">
                            <option>Choisir la période</option>
                            <option>Du Au</option>
                            <option selected>Au cours du dernier mois</option>
                            <option>Au cours de la dernière semaine</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
            <a href="dashboard-view-4.html"><button type="button" class="btn btn-default" title="Cliquez pour revenir à l'étape précédente">Etape précédente</button></a>
            <a href="dashboard-view-1.html"><button type="button" class="btn btn-default" title="Cliquez pour annuler la création de vue">Annuler</i></button></a>
            <a href="dashboard-view-6.html"><button type="button" class="btn btn-primary" title="Cliquez pour passer à l'étape suivante">Etape suivante</button></a>
        </div>
        <div class="container-fluid">
            <div class="row features" style="margin-top: 20px">
                <div class="col-md-offset-1 col-md-10">
                    <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <div class="row">
                <p>
                    <span class="pull-right locale-select label label-default">FR</span>
                                <span>
                    Développé par <a href="#">Claroline</a>
                </span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}