{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Les utilisateurs de mes EA - Tous les exercices{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html">

        /* For the modal */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: left;
            font-size: 20px;
            padding: 15px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>

    <div class="container-fluid">
        <div class="panel-body">
            <div class="container-fluid">
                <p><strong>SELECTION :</strong> Géographie | Exercices | Pays et capitales</p>
            </div>
            <div id="conteneur" class="container">
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-6" style="margin-bottom: 10px">
                        <h4>3. Affichage des données</h4>
                    </div>
                </div>
                <div id="conteneur" class="container">
                    <h2>Exercices</h2>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Affichage</th>
                            <th>Données</th>
                            <th>Ordre</th>
                            <th>Règles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <td>Tentatives</td>
                            <td><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button> <button class="btn btn-default"><i class="fa fa-arrow-down"></i></button></td>
                            <td><a href="dashboard-view-5.html"><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                                        <i class="fa fa-plus"></i> Règle </button></a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <td>Score</td>
                            <td><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button> <button class="btn btn-default"><i class="fa fa-arrow-down"></i></button></td>
                            <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                                    <i class="fa fa-plus"></i> Règle </button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Exercices commencés</td>
                            <td><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button> <button class="btn btn-default"><i class="fa fa-arrow-down"></i></button></td>
                            <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                                    <i class="fa fa-plus"></i> Règle </button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <td>Exercices terminés</td>
                            <td><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button> <button class="btn btn-default"><i class="fa fa-arrow-down"></i></button></td>
                            <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                                    <i class="fa fa-plus"></i> Règle </button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                    <div id="conteneur" class="container">
                        <h2>Forum</h2>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Affichage</th>
                                <th>Données</th>
                                <th>Ordre</th>
                                <th>Règles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" checked></td>
                                <td>Nombre de consultations</td>
                                <td><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button> <button class="btn btn-default"><i class="fa fa-arrow-down"></i></button></td>
                                <td><a href="dashboard-view-7.html"><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                                            <i class="fa fa-plus"></i> Règle </button></a></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" checked></td>
                                <td>Nombre de messages</td>
                                <td><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button> <button class="btn btn-default"><i class="fa fa-arrow-down"></i></button></td>
                                <td><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Cliquez ici pour ajouter une règle">
                                        <i class="fa fa-plus"></i> Règle </button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align: right">
                <a href="dashboard-view-3.html"><button type="button" class="btn btn-default" title="Cliquez pour revenir à l'étape précédente">Etape précédente</button></a>
                <a href="dashboard-view-1.html"><button type="button" class="btn btn-default" title="Cliquez pour annuler la création de vue">Annuler</i></button></a>
                <a href="dashboard-view-5.html"><button type="button" class="btn btn-primary" title="Cliquez pour passer à l'étape suivante">Etape suivante</button></a>
            </div>
            <div class="container">
                <div class="row features" style="margin-top: 20px">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">
                            <p>L'étape période a été remplacée par une règle sur une date liée à la ressource.</p>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <div class="row">
                <p>
                    <span class="pull-right locale-select label label-default">FR</span>
                                <span>
                    Développé par <a href="#">Claroline</a>
                </span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}