{% extends 'HeVinciMockupBundle::library/claroline/tool.html.twig' %}

{% set toolName = "Tableau de bord" %}
{% set toolSection = "Administration" %}
{% set toolIcon = "arrow-up" %}

{% block panelRest %}
    <div class="panel-footer">
        {% block panelFooter %}{% endblock %}
    </div>
{% endblock %}