<admin-home-tabs></admin-home-tabs>
<br>
<widgets></widgets>

<!--<div ng-if="!dhmc.isHomeTabLocked && dhmc.editionMode && dhmc.homeTabsOptions['selectedTabId'] && !dhmc.homeTabsOptions['selectedTabIsLocked']">-->
    <!--<hr>-->
    <!--<span class="btn btn-primary" ng-click="dhmc.createUserWidget(dhmc.homeTabsOptions['selectedTabConfigId'])">-->
        <!--<i class="fa fa-plus-circle">-->
        <!--</i>-->
        <!--{{ 'add_widget_to_home_tab'|trans:{}:'platform' }}-->
    <!--</span>-->
<!--</div>-->