 <h3 class="panel-title">
 {% if mode == 'pause' %}
  {{'btn_auto_pause' | trans({}, 'media_resource')}}
 {% elseif mode == 'live' %}
  {{'btn_live_listening' | trans({}, 'media_resource')}}
 {% elseif mode == 'active' %}
  {{'btn_active_listening' | trans({}, 'media_resource')}}
 {% elseif mode == 'free' %}
 free
 {% endif %}
</h3>
